# No need to change anything here, it works with tests

# NEXT_PUBLIC_CLIENT_BASE_URL="NEXT_PUBLIC_CLIENT_BASE_URL"
NEXT_PUBLIC_SERVER_BASE_URL="NEXT_PUBLIC_SERVER_BASE_URL"
NEXT_PUBLIC_S3_BUCKET_NAME= "NEXT_PUBLIC_S3_BUCKET_NAME"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY"