# No need to change anything here

# NEXT_PUBLIC_CLIENT_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_SERVER_BASE_URL="https://api.e-store.gq"
NEXT_PUBLIC_S3_BUCKET_NAME= "bucket-product-images"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_51KuIM4JcU3yoQ34pLQhTqOG3Fq8tbvQXaFE7JatAnlZzA5li2RmGwtt9deL1jiZTQQU1pUKd0VvGevUXFX9c7qM200PpSw5D0X" 