.position {
  position: relative !important;
  top: -5rem;
  z-index: 1;
  width: 95%;
  margin: auto;
}
.height-150px {
  height: 150px;
}
.height-100px {
  height: 100px;
}
.height-40px {
  height: 40px;
}
